@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap&family=Pacifico&display=swap');

.ei-loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: #ffffff;
    z-index: 2;
}

.spinner-grow {
    width: 3rem;
    height: 3rem;
    color: #627eeb;
}

.ei-navbar {
    box-shadow: 0px 5px 10px rgb(0 0 0 / 5%);
}

.ei-navbar h4 {
    font-family: 'Pacifico', cursive;
}

.ei-navbar-title {
    color: #b5babe;
}


.ei-first-card-icon {
    border-color: rgba(255,255,255,.5)!important;
    box-shadow: 0 10px 30px rgb(0 0 0 / 20%);
}

.list-group .list-group-flush {
    max-height: 55vh !important;
    overflow-y: auto !important;
}

.is-active {
    color: #fff;
    border-color: #627eeb;
    border-radius: 10px !important;
    background-color: #627eeb;
    box-shadow: 0px 10px 20px rgba(98,126,235,.30);
    transform:  scale(1.05);
    z-index: 1;
    transition: all 0.2s ease-out;
}    

.small, small {
    font-size: .775em;
}

canvas {
    height: 20vw;
}

.card-end {
    box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
}

.btn-primary {
    color: #fff;
    background-color: #627eeb;
    border-color: #627eeb;
}

.btn-primary:active, .btn-primary:hover, .btn-primary:focus {
    color: #fff;
    background-color: #4d63b8;
    border-color: #4d63b8;
    box-shadow: 0 0 0 0.25rem rgb(177 191 245);
}

.form-check-input:checked {
    background-color: #627eeb;
    border-color: #627eeb;
}

.form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgb(177 191 245);
}

.form-select:focus {
    border-color: rgb(177 191 245);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(177 191 245);
}

.text-info-aux {
    --bs-text-opacity: 1;
    color: #80d2e1;
}


.table-detail::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

.table-detail::-webkit-scrollbar-track {
    background: #f8f9fa;        /* color of the tracking area */
}

.table-detail::-webkit-scrollbar-thumb {
    background-color: #6c757d;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #f8f9fa;  /* creates padding around scroll thumb */
}