<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>IEconomic: Principales indicadores económicos de Chile</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    </head>
    <body class="text-dark bg-light" ng-controller="economic_indicators">

        <div class="ei-loading d-flex justify-content-center align-items-center" ng-show="cargando">
            <div class="spinner-grow" role="status"  title="Cargando datos">
                <span class="visually-hidden">Cargando datos</span>
            </div>
        </div>
        


        <nav class="navbar navbar-light bg-white ei-navbar">
            <div class="container ei-container-nav px-5 py-1">
                <div class="">
                    <h4><span class="ei-navbar-title">I</span>Economic</h4>
                    <p class="lh-1">
                        <small class="float-start">Variación en el tiempo de los principales indicadores económicos de Chile.</small><br>
                        <small class="float-start text-black-50">Datos obtenidos de mindicador.cl</small>
                    </p>                    
                </div>
            </div>
        </nav>

       

        <div class="container fade {{(!cargando)?'show':''}} px-5 pt-1 pb-5">

            <div class="row">
                <div class="col-12 col-md-4 pt-3" ng-repeat="item in main">
                    <div class="card text-white" style="background: {{item.bg_color}}; border:none; box-shadow: {{item.box_shadow}};" title="{{item.i_name}} ${{item.id_value}} al {{item.id_date_format}}">
                        <div class="card-body">
                            
                            <div class="row text-center">
                                <div class="col-sm-2 d-none d-sm-block d-md-none"></div>
                                <div class="col-6 col-sm-4 col-md-12 col-xl-6">
                                    <div class="d-inline-flex justify-content-center mx-4 my-1 border border-3 rounded-circle ei-first-card-icon" role="button">
                                        <i class="{{item.icon_class}} text-white fs-2 my-2 mx-3"></i>
                                    </div>
                                </div>
                                    
                                <div class="col-6 col-sm-6 col-md-12 col-xl-6 text-center">
                                    <p class="card-title fs-4" role="button"><strong>{{item.i_currency_symbol}} {{item.id_value}}</strong></p>
                                    <small class="align-top text-white" >{{item.i_name}}</small><br>
                                    <small class="align-top text-white-50 lh-1" title="Última actualización"><i class="bi bi-calendar2-event-fill me-1"></i>{{item.id_date_format}}</small>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="row "> 
                <div class="col-12 col-lg-8 my-4 px-4 order-2 order-lg-1" >   

                    <div class="row" >
                        <div class="card border-0" > 
                            <div class="card-body">
                                <div class="row">                                
                                    <div class="col-12">
                                        <h5 class="card-title"><strong>Información general</strong> 
                                            <i class="bi bi-info-circle-fill ms-1 fs-6 text-info-aux" role="button" title="Gráfico y listado más detallado del indicador económico seleccionado de acuerdo a los filtros aplicados."></i> 
                                        </h5>
                                    </div>

                                    <div class="col-12">   
                                        
                                        <div class="row m-0 p-2 rounded bg-light">

                                            <div class="col-12 col-xl-4 my-1 text-center">
                                                <div class="btn-group btn-group-sm" role="group" aria-label="Gráfico y tabla con el detalle.">
                                                    <button type="button" class="btn btn-primary {{(mode=='chart')?'active':''}}" ng-click="mode='chart'" title="Ver el gráfico">
                                                        <i class="bi bi-graph-up me-1"></i> Gráfico
                                                    </button>
                                                    <button type="button" class="btn btn-primary {{(mode=='detail')?'active':''}}" ng-click="mode='detail'" title="Ver el detalle">
                                                        <i class="bi bi-table me-1"></i> Detalle
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="col-6 col-xl-2 my-1">
                                                <label class="visually-hidden" for="year">Año</label>
                                                <select class="form-select form-select-sm" id="year" ng-options="item for item in years" ng-model="search.year">
                                                </select>
                                            </div>
                                            
                                            <div class="col-6 col-xl-2 my-1">
                                                <label class="visually-hidden" for="month">Mes</label>
                                                <select class="form-select form-select-sm" id="month" ng-options="item.month_id as item.month_label for item in months" ng-model="search.month">
                                                </select>
                                            </div>                                            
                                            
                                            <div class="col-6 col-xl-3 my-1">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" id="view_week" ng-model="search.current_week">
                                                    <label class="form-check-label text-truncate" for="view_week"><small>Semana actual</small></label>
                                                </div>
                                            </div>

                                            <div class="col-12 col-xl-1 my-1 text-center">
                                                <button type="submit" class="btn btn-primary btn-icon btn-sm" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Buscar" ng-click="getIndicators();"><i class="bi bi-search"></i> <span class="d-xl-none d-xxl-none ms-1">Buscar</span></button>
                                            </div>
                                        </div>
                                    </div>                                
                                </div>
                                
                                <div class="row" style="min-height: 412px;">
                                    <div ng-show="mode=='chart' && detail_chart!=null">
                                        <div>
                                            <canvas id="myChart"></canvas>
                                        </div>                                        
                                    </div>

                                    <div ng-if="mode=='detail' && detail_table!=null">                        
                                        <div class="card border-0">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-12 col-xl-6">
                                                        <div class="pt-2">
                                                            <h5 class="card-title">
                                                                <strong>{{detail_table.i_name}}</strong>
                                                            </h5>                                                            
                                                            <small class="lh-1 text-muted">Unidad de medida: {{detail_table.i_currency_symbol}} ({{detail_table.i_unit_measure}})</small>
                                                        </div>  
                                                        <div class="pt-2" ng-show="detail_table.i_description!=null">
                                                            <p class="lh-1">
                                                                <i class="bi bi-info-circle-fill me-1 fs-6 text-info-aux" role="button"></i>
                                                                <small class="text-muted">{{detail_table.i_description}}</small>
                                                            </p>
                                                        </div>                                                      
                                                    </div>
                                                    <div class="col-12 col-lg-6 ">
                                                        <div class="table-responsive rounded bg-light table-detail" style="max-height: 350px;">
                                                            <table class="table table-borderless table-sm">
                                                                <tbody>
                                                                    <tr ng-repeat="item in detail_table.detail | toArray | orderBy:id_date_format:true" >
                                                                        <td class="text-end">
                                                                            <small class="text-muted">{{item.id_date_format}}</small>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <span class="fs-6 lh-1"><span ng-show="detail_table.i_currency_symbol!='%'">{{detail_table.i_currency_symbol}}</span> <strong>{{item.id_value_format}}</strong><span ng-show="detail_table.i_currency_symbol=='%'" class="ms-1">{{detail_table.i_currency_symbol}}</span></span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>                                                
                                            </div>                        
                                        </div>                     
                                    </div>

                                    <div ng-if="detail_chart==null || detail_table==null" class="my-3">
                                        <div class="alert alert-light text-center" role="alert" >
                                            <i class="bi bi-exclamation-circle-fill text-info-aux"></i>
                                            <strong class="text-black">Ouch!</strong> 
                                            <p>No tenemos información del indicador con los filtros que has seleccionado.</p>
                                        </div>
                                    </div>

                                </div>                                
                            </div>
                        </div>
                    </div>
                    
                </div>


                <div class="col-12 col-lg-4 mt-4 order-1 order-lg-2">
                    <div class="card border-0 card-end">
                        <div class="card-body">
                            <h5 class="card-title">
                                <strong>Actividad reciente</strong> 
                                <i class="bi bi-info-circle-fill ms-1 fs-6 text-info-aux" role="button" title="Actividad más reciente registrada de cada uno de los principales indicadores económicos de Chile."></i>
                            </h5>
                        </div> 
                        <ul class="list-group list-group-flush">
                            <li ng-repeat="item in daily" role="button" class="list-group-item my-1 border-0 {{(item.i_code==indicator_selected)?'is-active':'is-not-active'}}" ng-click="filterDetail(item.i_code);">
                                <small class="">{{item.i_name}}</small>
                                <span class="float-end"><span ng-show="item.i_currency_symbol!='%'">{{item.i_currency_symbol}}</span> <strong>{{item.id_value}}</strong><span ng-show="item.i_currency_symbol=='%'" class="ms-1">{{item.i_currency_symbol}}</span></span>
                            </li>
                        </ul>                       
                    </div>                    
                </div>
            </div>
        </div>


        <div class="fixed-bottom text-center bg-white"><small class="text-secondary ">© 2022 - Desarrollado por <a href="https://scarletvillasana.com/" title="GitHub" target="_blank" class="text-decoration-none text-muted">Scarlet Villasana</a></small></div>

    </body>
</html>